@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#f0f4ff, #a5b6ee);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  margin-bottom: 60px;
}

.logo {
  width: 244px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 244 / 48;
}

.timer {
  width: 400px;
  padding: 48px;
  background: linear-gradient(#5572bb, #374b7c);
  border-radius: 16px;
  box-shadow: 20px 20px 60px 10px #374b7c66;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  padding-bottom: 24px;
  margin-bottom: 32px;
  border-bottom: 1px solid #3d538a;
  width: 100%;
  text-align: center;
}

.time {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80px;
  height: 80px;
  padding: 16px;
  background: url(../src/box-bg.svg) no-repeat top center / cover;
}

.box:after {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 26px;
  background: url(../src/dot.svg);
  right: -13px;
}

.box:last-child:after {
  display: none;
}

.number {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
}

.sub-title {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 12px;
  color: #a5b6ee;
}

.btn-area {
  display: flex;
  gap: 12px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 48px;
  padding: 16px 24px;
  font-size: 14px;
  border-radius: 50px;
  font-weight: bold;
  color: #fff;
  gap: 4px;
}

.btn.start {
  background-color: #5180ff;
}

.btn.pause {
  background-color: #15c2b8;
}

.btn.reset {
  background-color: #fb7099;
}
